<header>
    <h1>Ecom | About Us</h1>
</header>
<div class="container">
    <p>Welcome to Your Ecommerce Store, your number one source for all things related to electronic products. We're dedicated to providing you the very best of products, with an emphasis on quality, customer service, and uniqueness.</p>
    
    <h2>Our Mission</h2>
    <p>Our mission is to become the go-to destination for [describe your target audience] by offering a curated selection of [your niche or products], providing exceptional customer service, and fostering a community around our brand.</p>
    
    <h2>Our Team</h2>
    <p>We're a team of passionate individuals who are dedicated to making Your Ecommerce Store a success. From our product curators to our customer service representatives, each member of our team plays a vital role in ensuring your satisfaction.</p>
    
    <h2>Contact Us</h2>
    <p>If you have any questions, suggestions, or concerns, please don't hesitate to contact us. You can reach us via email at <a href="https://github.com/mohammedsallam2000/Ecom.git">Ecom&#64;gmail.com</a> or by phone at 01011309841</p>
</div>
