header {
    background-color: #4349c5;
    color: white !important;
    padding: 10px 20px;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
h1 {
    color:white;
}
p {
    line-height: 1.6;
}