<ng-container *ngIf="(basket$ |async )">
    <div class="col-lg-12" *ngIf="(basket$ |async )as basket">
        <h5 class="mb-3"><a [routerLink]="['/shop']" routerLinkActive="active" class="text-body"><i
                    class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
        <hr>
    
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <p class="mb-1">Shopping cart</p>
                <p class="mb-0">You have {{basket.basketItems.length}} items in your cart</p>
            </div>
            <!-- <div>
            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                  class="fas fa-angle-down mt-1"></i></a></p>
          </div> -->
        </div>
    
        <!-- <div class="d-flex justify-content-between row">
                <div class="d-flex flex-row align-items-center col-8">
                  <h5>Product</h5>
                </div>
                <div class="d-flex flex-row align-items-center col-1">
                    <h5>Quantity</h5>
                </div>
                <div class="d-flex flex-row align-items-center col-1">
                    <h5>Total</h5>
                </div>
                <div class="d-flex flex-row align-items-center col-1">
                    <h5>Remove</h5>
                </div>
           
        </div> -->
    
        <div class="card mb-3" *ngFor="let item of basket.basketItems">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div>
                            <img src="{{item.productPicture}}" alt="{{item.productName}}" class="img-fluid rounded-3"
                                style="width: 65px;">
                        </div>
                        <div class="ms-3">
                            <h5>{{item.productName}}</h5>
                            <p class="small mb-0">{{item.price}}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div style="width: 100px;">
                            <i *ngIf="isBasket" (click)="decrementBasketItemQuantity(item)"
                                class="fa fa-minus-square text-danger mx-2" style="font-weight: bold; cursor: pointer;"></i>
                            <i class="fw-normal mb-0">{{item.quantity}}</i>
                            <i *ngIf="isBasket" (click)="incrementBasketItemQuantity(item)"
                                class="fa fa-plus-square text-primary mx-2" style="font-weight: bold; cursor: pointer;"></i>
                        </div>
                        <div style="width: 80px;">
                            <h5 class="mb-0">${{item.price*item.quantity}}</h5>
                        </div>
                        <div style="width: 80px;">
                            <button *ngIf="isBasket" (click)="removeItemFromBasket(item)"
                                class="btn btn-danger">Remove</button>
                        </div>
                        <a href="#!" style="color: #cecece;"><i class="fa fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    
    
    </div>
</ng-container>