<div class="text-center" data-new-gr-c-s-check-loaded="14.1169.0" data-gr-ext-installed="">
    
    <main class="form-signin" style="width: 150%;">
      <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
        <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Ecom | Login</h1>
    
        <div class="form-floating" >
            <input formControlName="email" type="email" class="form-control" 
            [class.is-invalid]="_email.invalid && _email.touched"
            [class.is-valid]="_email.valid"
            placeholder="name@example.com">
            <div *ngIf="_email.invalid && _email.touched">
                <small class="text-danger" *ngIf="_email?.errors?.['required']">Required Email</small>
                <small class="text-danger" *ngIf="_email?.errors?.['pattern']">Invalid Email Pattern</small>
    
            </div>
            <!-- <small class="text-danger" [class.d-none]="_email.valid || _email.untouched">Required Email</small> -->
            
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
          <input formControlName="password" type="password" class="form-control"  placeholder="Password"
          [class.is-invalid]="_password.invalid && _password.touched"
          [class.is-valid]="_password.valid">
          <label for="floatingPassword">Password</label>
          <small class="text-danger" [class.d-none]="_password.valid || _password.untouched">Required Password</small>

        </div>
    
        <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="loginForm.invalid">Sign in</button>
      </form>
    </main>
    
    
        
      
    
    </div>