.text-center {
    text-align: center !important;
}

.form-floating{
    margin-bottom: 5px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

header {
    background-color: #4349c5;
    color: white !important;
    padding: 10px 20px;
    text-align: center;
}