<!-- <footer>
    <p>&copy; 2024 Ecom. All rights reserved. | developed by <a href="https://www.linkedin.com/in/mohammed-sallam-ms2000/">Eng.Mohammed Sallam</a></p>
</footer> -->
<footer class="text-center text-white mt-auto" style="background-color: #002486;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/mohammedsallam2000" role="button"
          ><i class="fa fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/mohammedsallam2000" role="button"
          ><i class="fa fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="mohammedsallam@gmail.com" role="button"
          ><i class="fa fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/mohammedsallam2000/" role="button"
          ><i class="fa fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/mohammed-sallam-ms2000/" role="button"
          ><i class="fa fa-linkedin"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/mohammedsallam2000" role="button"
          ><i class="fa fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: #002486;">
        <h5 class="text-white">Developed by <a class="text-white" href="https://www.linkedin.com/in/mohammed-sallam-ms2000/">Mohammed Sallam</a></h5>
      ©2024 Copyright:
      <b class="text-white">Ecom.com</b>
    </div>
    <!-- Copyright -->
  </footer>